@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

body {
    background: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}

.btn{
    background-color: rgba(207, 207, 207, 0.927);
    color: rgb(75, 75, 75);
    font-size: 14px;
    border-radius: 35px;
    padding: 15px 26px;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn.dark-btn{
    background-color: #072c90;
    color:#f0ffff;
}

.btn img{
    margin-left: 10px;
    width: 20px;

}
/* ------------media query--------------*/
@media(max-width: 1200px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 14px 22px;
    }
}