.programs{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 80px auto;

}
.program img{
    width: 100%;
    border-radius: 30px;
    display: inline-block;
}

.program{
    flex-basis: 31%;
    position: relative
}

.caption{
    border-radius: 30px;
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background: rgba(69, 84, 213, 0.41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0ffff;
    cursor: pointer;
    font-size: 1.5em;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;

}

.caption img{
    width: 65px;
    margin: 30px;
}

.program:hover .caption{
    opacity: 1;
    padding: 0;
}

/* ------------------media query --------------*/

@media(max-width: 850px){
    .programs{
        flex-direction: column;
        

    }
    .program{
        flex-basis: 100%;
        margin: 10px auto;
    }
}